p{
    color: crimson;
    font-size: 30px;
    text-align: center;
}
#si{
    width: 25%;
    margin-left: 22%;
}

#no{
    position: absolute;
    top : 102px;
    width: 15%;
    margin-left: 5%;
}
.grupo-no{
    border: solid 1px black;
    border-radius: 15px;
    width: 50%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: gainsboro;
}

button:hover{
    background-color: gold;
    cursor: pointer;
}